<form method="POST" action="/onboarding_erb/ci_bot_account">
  <h4>2. CI Bot Account</h4>

  <p>
    <code>fastlane.ci</code> requires you setup a CI <i>bot account</i> to
    update the build status, etc.
  </p>

  <p>
    To properly setup the bot account, <code>fastlane.ci</code> requires
    two configuration envorinment variables: <code>FASTLANE_CI_BOT_API_TOKEN</code>
    and <code>FASTLANE_CI_PASSWORD</code>.
  </p>

  <p>
    The user associated with this API token will be responsible for updating the
    private <code>fastlane.ci</code> configuration repository created after the
    onboarding process.
  </p>

  <p>
    Please follow the steps below to complete your <code>fastlane.ci</code>
    cofiguration:
  </p>

  <ol>
    <li>
      <a href="https://help.github.com/articles/signing-up-for-a-new-github-account/">
        Create an account</a> for your <code>fastlane.ci</code> bot on GitHub.
    </li>

    <li>
      Create a personal access token <a href="https://github.com/settings/tokens/new">
      on GitHub</a> with all <code>repo</code> permissions, and the
      <code>user:email</code> permission on your GitHub bot account:

      <img src="../images/github_access_token_repos.png" width="60%">
      <img src="../images/github_access_token_user_email.png" width="65%">
    </li>

    <li>
      <p>Enter your bot user's API Token:</p>

      <small>
        NOTE: <code>fastlane.ci</code> will use the primary email associated with
        this API token as the email for the initial account it creates for you.
      </small>
    </li>

    <div class="mdl-textfield mdl-js-textfield">
      <label for="input"><code>FASTLANE_CI_BOT_API_TOKEN</code></label>
      <input
          id="ci_user_api_token"
          class="mdl-textfield__input"
          type="password"
          maxlength="40"
          value="<%= keys[:ci_user_api_token] %>"
          minlength="40"
          name="ci_user_api_token"
          placeholder="Your GitHub bot's API token"
      />
    </div>

    <li>
      <p>Enter your bot user account password:</p>

      <small>
        NOTE: <code>fastlane.ci</code> will use this as the password for the
        initial account it creates for you.
      </small>
    </li>

    <div class="mdl-textfield mdl-js-textfield">
      <label for="input"><code>FASTLANE_CI_PASSWORD</code></label>
      <input
        id="ci_user_password"
        class="mdl-textfield__input"
        type="password"
        name="ci_user_password"
        value="<%= keys[:ci_user_password] %>"
        placeholder="Your GitHub bot's password"
      />
    </div>
  </ol>

  <input
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="submit"
    value="Save bot account information"
  >
</form>

<!-- Progress to the next page -->
<form method="GET" action="/onboarding_erb/initial_onboarding_user">
  <input
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="submit"
    value="Next"
    <%= "disabled" unless @progress %>
  >
</form>
