<form id="initial_clone_user" method="POST" action="/onboarding_erb/initial_clone_user">
  <h4>3. Initial Clone User</h4>

  <p>
    To properly create the configuration repository, <code>fastlane.ci</code>
    requires two configuration envorinment variables:
    <code>FASTLANE_CI_INITIAL_CLONE_EMAIL</code> and
    <code>FASTLANE_CI_INITIAL_CLONE_API_TOKEN</code>.
  </p>

  <p>
    Please follow the steps below to complete your <code>fastlane.ci</code>
    cofiguration:
  </p>

  <ol>
    <li>Enter your initial clone account email:</li>

    <div class="mdl-textfield mdl-js-textfield">
      <label for="input"><code>FASTLANE_CI_INITIAL_CLONE_EMAIL</code></label>
      <input
        id="clone_user_email"
        class="mdl-textfield__input"
        type="text"
        name="clone_user_email"
        value="<%= keys[:clone_user_email] %>"
        placeholder="initial_clone_account_email@gmail.com"
      />
    </div>

    <li>
      Create a personal access token <a href="https://github.com/settings/tokens/new">
      on GitHub</a> with <code>repo</code> permissions using the
      <code>FASTLANE_CI_INITIAL_CLONE_EMAIL</code> you've set above:

      <img src="../images/github_access_token.png" width="60%">
    </li>

    <li>Enter the API token you created below:</li>

    <div class="mdl-textfield mdl-js-textfield">
      <label for="input"><code>FASTLANE_CI_INITIAL_CLONE_API_TOKEN</code></label>
      <input
        id="clone_user_api_token"
        class="mdl-textfield__input"
        type="password"
        name="clone_user_api_token"
        value="<%= keys[:clone_user_api_token] %>"
        maxlength="40"
        minlength="40"
        placeholder="The API token for your GitHub account"
      />
    </div>
  </ol>

  <input
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="submit"
    value="Save configuration account information"
  >
</form>

<!-- Progress to the next page -->
<form method="GET" action="/onboarding_erb/git_repo">
  <input
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="submit"
    value="Next"
    <%= "disabled" unless @progress %>
  >
</form>
