<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../global/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px;">
    <div class="mdl-card mdl-shadow--8dp" style="width: 800px">
      <div style="padding: 25px;">
        <form action="/login_erb" method="post">
          <h3>Login</h3>
          <hr />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="email" id="email" value="<%= email %>">
            <label class="mdl-textfield__label" for="email">Email</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="password" type="password" id="password">
            <label class="mdl-textfield__label" for="password">Password</label>
          </div>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</button>
        </form>
        <a href="/login_erb/create_account">Create account</a>
      </div>
    </div>
  </main>
</div>
