@import '../shared/layout';
.mat-dialog-container {
    position: relative; // needed to position close icon
}

// TODO: Fixed action buttons in fullscreen mode
.fci-dialog-xs-fullscreen .mat-dialog-container {
    @include narrowCanvas {
        border-radius: 0 !important;
        height: 100%;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.fci-dialog .mat-dialog-container {
    padding: 0;
}

.mat-icon-button.fci-dialog-icon-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
}
