/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// TODO: using theme functions to set the themes instead of overriding manually
// TODO: Find out if Roboto is packaged in Angular Material
body {
    margin: 0;
    font-family: 'Google Sans', sans-serif; // Default font-family
}

button.mat-button,
button.mat-raised-button {
    text-transform: uppercase;
}
