.fci-overview-header {
    background-color: #F3E5F5;
    height: 448px;
    margin-bottom: -112px;
    .fci-overview-welcome {
        padding: 112px 0 52px 0;
        .fci-overview-title {
            color: rgba(0, 0, 0, 0.87);
            font-family: 'Google Sans', sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 40px;
            margin-bottom: 8px;
        }
        .fci-overview-subtitle {
            color: rgba(0, 0, 0, 0.54);
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.fci-overview-project-list {
    padding: 0;
    .mat-nav-list {
        padding: 0;
    }
}
