<div class="fci-overview-header">
  <div fci-grid class="fci-overview-welcome">
    <div fci-cell="6">
      <div class="fci-overview-title"> Welcome to fastlane CI! </div>
      <div class="fci-overview-subtitle">
        Open source, self-hosted, mobile-optimized CI powered by fastlane brought to you by the fastlane team. </div>
    </div>
  </div>
</div>
<div fci-grid *ngIf="projects">
  <div fci-cell="16" class="fci-overview-project-list">
    <mat-nav-list>
      <!-- Add anchor to route to the project details page -->
      <mat-card *ngFor="let project of projects">
        <mat-list-item>
          <!-- TODO Add status icon -->
          <mat-icon matListIcon>do_not_disturb</mat-icon>
          <h4 matLine>{{project.name}}</h4>
        </mat-list-item>
      </mat-card>
    </mat-nav-list>
  </div>
</div>
