<div class="fci-overview-header">
  <div fci-grid class="fci-overview-welcome">
    <div fci-cell="6">
      <div class="fci-overview-title"> Welcome to fastlane CI! </div>
      <div class="fci-overview-subtitle">
        Open source, self-hosted, mobile-optimized CI powered by fastlane brought to you by the fastlane team. </div>
    </div>
  </div>
</div>
<div fci-grid>
  <mat-card class="fci-add-project-card" fci-cell="4">
    <mat-icon>add</mat-icon>
    <span class="fci-add-project-text"> Add project </span>
  </mat-card>
  <mat-card class="fci-project-card" fci-cell="4" *ngFor="let project of projects">
    <div class="fci-project-name">{{project.name}}</div>
  </mat-card>
</div>
