.fci-log-line {
	display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}
.fci-ansi-1 { font-weight: bold;}
.fci-ansi-3 { font-style: italic; }
.fci-ansi-4 { text-decoration: underline; }
.fci-ansi-30 { color: #262626; }
.fci-ansi-31 { color: #d30102; }
.fci-ansi-32 { color: #859900; }
.fci-ansi-33 { color: #b58900; }
.fci-ansi-34 { color: #268bd2; }
.fci-ansi-35 { color: #d33682; }
.fci-ansi-36 { color: #2aa198; }
.fci-ansi-37 { color: #e4e4e4; }