<!-- No users found in `users.json`, or file does not exist -->

<p>In order to run fastlane.ci, the configuration repository needs to
  be populated with at least two files. The first of these files is the
  <code>users.json</code> file:</p>

<b><code>users.json</code></b>
<pre>
  <code>
    [
      {
        "id": "auto_generated_id",
        "email": "your-name@gmail.com",
        "password_hash": "Some password hash that needs to be created.",
        "provider_credentials": [
          {
            "email": "user-email@gmail.com",
            "encrypted_api_token": "Encrypted GitHub API token",
            "provider_name": "GitHub",
            "type": "github",
            "full_name": "Fastlane CI"
          }
        ]
      }
    ]
  </code>
</pre>
