<div fci-grid class="fci-login-container">
  <div fci-cell="12">
    <div class="fci-input-container">
      <label>Email</label>
      <input [(ngModel)]="email" type="email">
    </div>
    <div class="fci-input-container">
      <label>Password</label>
      <input [(ngModel)]="password" type="password">
    </div>

    <button mat-raised-button color="primary" (click)="login()" [disabled]="isLoggingIn">Login</button>

    <span *ngIf="hasError" class="form-error">
      Could not log you in. Please try again.
    </span>
  </div>
</div>
