<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">fastlane.ci</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Dashboard</a>
    <% if defined?(user) && user %>
      <a class="mdl-navigation__link" href="/configuration">Configuration</a>
      <a class="mdl-navigation__link" href="/notifications">Notifications</a>
      <a class="mdl-navigation__link" href="/users">Users</a>
      <a class="mdl-navigation__link" href="/provider_credentials">Provider Credentials</a>
    <% end %>
    <a class="mdl-navigation__link" href="/#">Settings</a>
  </nav>
</div>
