<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../global/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <!-- ENV variables found in environment_variables.json -->

    <h4>Environment variables</h4>
    <div class="table-responsive-vertical shadow-z-1" style="overflow: scroll">
      <table class="table-mc-light-blue mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          <% environment_variables.each do |environment_variable| %>
            <tr>
              <%= erb :"./forms/_environment_variables", locals: { environment_variable: environment_variable, action: "update" } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
</div>
