@import "../../shared/layout";
.fci-dashboard-header {
    background-color: #E1BEE7;
    .fci-dashboard-welcome {
        padding: 75px 0 4px 0;
        .fci-dashboard-title {
            font-family: 'Google Sans', sans-serif;
            color: rgba(0, 0, 0, 0.87);
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 12px;
        }
        .fci-dashboard-subtitle {
            color: rgba(0, 0, 0, 0.54);
            font-size: 18px;
            font-family: 'Google Sans', sans-serif;
            line-height: 24px;
        }
        button {
            margin-top: 25px;
        }
    }
}

.fci-project-table {
    margin-top: 40px;
    .mat-header-row .mat-header-cell {
        font-family: 'Google Sans', sans-serif;
        color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
    }
    .mat-row {
        cursor: pointer;
        &:hover {
            background-color: #F3E5F5;
        }
        .mat-cell {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: center;
            display: flex;
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .fci-status-icon {
                margin-right: 8px;
            }
            &:not(:first-child) {
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}

.fci-loading-spinner {
    margin: 32px auto;
}
