:host {
    font-size: 24px;
    width: 24px;
    height: 24px;
    .mat-icon {
        width: inherit;
        height: inherit;
        font-size: inherit;
    }
}

.fci-status-icon-success {
    color: #00897b;
}

.fci-status-icon-pending {
    color: #757575;
}

.fci-status-icon-internal {
    color: #f5a623;
}

.fci-status-icon-failed {
    color: #d50000;
}

.fci-status-icon-running {
    color: #ffff;
    background-color: #3561d5;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-left: 2px;
    box-sizing: border-box;
}
