.fci-status-icon-success {
    color: #4CAF50;
}

.fci-status-icon-pending {
    color: #FFEB3B;
}

.fci-status-icon-failed {
    color: #DD2C00;
}

.fci-status-icon-default {
    color: black;
    opacity: 0.1;
}
