<ng-container *ngIf="status" [ngSwitch]="status">
  <mat-icon *ngSwitchCase="BuildStatus.SUCCESS" class="fci-status-icon-success">
    check_circle
  </mat-icon>
  <mat-icon *ngSwitchCase="BuildStatus.PENDING" class="fci-status-icon-pending">
    timelapse
  </mat-icon>
  <mat-icon *ngSwitchCase="BuildStatus.INTERNAL_ISSUE" class="fci-status-icon-internal">
    warning
  </mat-icon>
  <mat-icon *ngSwitchCase="isFailedState()" class="fci-status-icon-failed">
    cancel
  </mat-icon>
</ng-container>
