<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span *ngIf="project">{{project.name}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div fci-grid *ngIf="project">
  <div fci-cell="12">
    <mat-card class="fci-build-table">
      <mat-table [dataSource]="project.builds">
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> Build </mat-header-cell>
          <mat-cell *matCellDef="let build">
            <fci-status-icon [status]="build.status"></fci-status-icon>
            <span>{{build.number}}</span>
          </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <!-- TODO: Pipe this into a relative time pipe -->
          <mat-cell *matCellDef="let build">{{build.date | amTimeAgo}}</mat-cell>
        </ng-container>

        <!-- Lane Column -->
        <ng-container matColumnDef="sha">
          <mat-header-cell *matHeaderCellDef>Commit Sha</mat-header-cell>
          <mat-cell *matCellDef="let build">
            <a href="{{build.linkToSha}}">
              {{build.shortSha}}
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></mat-header-row>
        <mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;"></mat-row>
      </mat-table>
      <!-- TODO: paginate this table -->
    </mat-card>
  </div>
</div>
