$TOOLBAR_HEIGHT:80px;
.fci-settings-button {
    margin-right: 36px;
    color: #ffffff
}

.fci-project-container {
    display: flex;
    padding: 24px 92px 0 92px;
    height: calc(100% - #{$TOOLBAR_HEIGHT});
    box-sizing: border-box;
    .fci-loading-spinner {
        margin: 32px auto;
    }
    .fci-left-container {
        flex: 1;
        .fci-project-header {
            font-size: 30px;
            font-weight: 500;
        }
        .fci-build-table {
            margin-top: 24px;
            .mat-header-row {
                font-weight: 500;
                color: rgba(0, 0, 0, 0.54);
                padding: 0 0 11px 0;
                text-transform: uppercase;
                font-size: 13px;
                min-height: initial;
            }
            .mat-row {
                height: 43px;
                padding: 0;
                cursor: pointer;
                &:hover {
                    background-color: #d8d8d8;
                    .mat-cell.mat-column-sha button {
                        visibility: visible;
                    }
                }
                .mat-cell {
                    align-items: center;
                    display: flex;
                    font-size: 16px;
                    padding-right: 8px;
                    .fci-status-icon {
                        margin-right: 8px;
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .mat-column-number {
                    font-weight: 500;
                }
                .mat-column-sha {
                    .mat-icon {
                        padding-right: 8px;
                    }
                    a {
                        padding-right: 30px;
                    }
                    button {
                        font-size: 14px;
                        visibility: hidden;
                        color: #6c6d6e;
                        text-transform: uppercase;
                        &.fci-button-visible {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .fci-right-container {
        padding-left: 24px;
        .fci-project-details {
            font-family: 'Google Sans', sans-serif;
            width: 296px;
            font-size: 16px;
            padding: 27px 51px 21px 51px;
            box-sizing: border-box;
            h3 {
                font-weight: 500;
                font-size: 18px;
            }
            h5 {
                color: rgba(0, 0, 0, 0.54);
                font-size: 13px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }
}
