<form method="POST" action="/configuration/git_repo">
  <p>
    <code>FASTLANE_CI_REPO_URL=</code>
    <input type="text" name="repo_url" value=<%= keys[:repo_url] %> disabled>
  </p>

  <input type="submit" value="Create private configuration repo">
</form>
