@import "../../shared/layout";
.fci-onboard-header {
    background-color: #E1BEE7;
    .fci-onboard-welcome {
        padding: 75px 0 4px 0;
        .fci-onboard-title {
            font-family: 'Google Sans', sans-serif;
            color: rgba(0, 0, 0, 0.87);
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 12px;
        }
        .fci-onboard-subtitle {
            color: rgba(0, 0, 0, 0.54);
            font-size: 18px;
            font-family: 'Google Sans', sans-serif;
            line-height: 24px;
        }
        button {
            margin-top: 25px;
        }
    }
}

.mat-stepper-vertical {
    .fci-input-container {
        padding-bottom: 24px;
    }
    .fci-step-button-container {
        display: flex;
        align-items: center;
        .mat-spinner {
            display: inline-block;
        }
    }
    p {
        margin-top: 8px;
        margin-bottom: 51px;
        font-size: 14px;
        color: #4a4a4a;
    }
    button:first-child {
        margin-right: 8px;
    }
}
