<div class="fci-onboard-header">
  <div fci-grid class="fci-onboard-welcome">
    <div fci-cell="12">
      <div class="fci-onboard-title">Welcome to fastlane.ci!</div>
      <div class="fci-onboard-subtitle">
        Open source, self-hosted, mobile-optimized CI powered by fastlane brought to you by the fastlane team.
      </div>
      <button mat-raised-button color="primary" (click)="goToOldOnboarding()">Old Onboarding</button>
    </div>
  </div>
</div>
<div fci-grid>
  <div fci-cell="12">
    <h6>NOT WORKING - CURRENTLY IN DEVELOPMENT</h6>
    <mat-vertical-stepper>
      <mat-step label="Set up your Encryption Key">
        Encryption key input
      </mat-step>
      <mat-step label="Set Up your CI bot account">
        CI bot account set up
      </mat-step>
      <mat-step label="Set up your CI account">
        User CI account set up
      </mat-step>
      <mat-step label="Create private Repository for ci-config">
        Repository setup
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
