<!DOCTYPE html>
<html>
  <head>
    <title>fastlane CI</title>
    <link rel="stylesheet" href="/custom.css">
    <link rel="stylesheet" href="/material.min.css">
    <script src="/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= erb :"../../global/notification_banner" %>
    <%= yield %>
  </body>
</html>
