<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">fastlane.ci</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Dashboard</a>
    <% if defined?(user) && user %>
      <a class="mdl-navigation__link" href="/configuration_erb">Configuration</a>
      <a class="mdl-navigation__link" href="/notifications_erb">Notifications</a>
    <% end %>
  </nav>
</div>
