<% flash.keys.each do |type| %>
  <div class="flash_<%= type %>">
    <% case type
       when :success %>
      <i class="fa fa-check"></i>
    <% when :warning %>
      <i class="fa fa-info-circle"></i>
    <% when :error %>
      <i class="fa fa-times-circle"></i>
    <% end %>

    <%= type.to_s.upcase + ": " + flash[type] %>
  </div>
<% end %>
