<dialog class="modal-dialog">
  <h4 class="modal-title"><code>fastlane.ci</code> notification</h4>

  <div class="mdl-dialog__content">
    <%= message %>
  </div>

  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <button type="button" class="mdl-button close">Okay</button>
  </div>
</dialog>
