<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">fastlane.ci</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Dashboard</a>
      <a class="mdl-navigation__link" href="#">Settings</a>
    </nav>
  </div>
  <main class="mdl-layout__content" style="padding: 40px">
    

    <br />

    <a href="/dashboard/add_project" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Edit Project
    </a>

  </main>
</div>
