<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../global/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">
        Welcome to fastlane.ci 👋!
      </h2>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <p>
        <code>fastlane.ci</code> requires a few configuration values from you
        to properly run the server.
      </p>

      <p>The following values need to be inputted to properly run the server:</p>

      <ul>
        <% if !has_encryption_key? %>
          <li><code>FASTLANE_CI_ENCRYPTION_KEY</code></li>
        <% end %>

        <% if !has_ci_user_api_token? %>
          <li><code>FASTLANE_CI_BOT_API_TOKEN</code></li>
        <% end %>

        <% if !has_ci_user_password? %>
          <li><code>FASTLANE_CI_PASSWORD</code></li>
        <% end %>

        <% if !has_initial_onboarding_user_api_token? %>
          <li><code>FASTLANE_CI_INITIAL_ONBOARDING_USER_API_TOKEN</code></li>
        <% end %>

        <% if !has_remote_github_repo? %>
          <li><code>FASTLANE_CI_REPO_URL</code></li>
        <% end %>
      </ul>
    </div>

    <a href="/onboarding_erb/encryption_key" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Continue
    </a>
  </main>
</div>
