<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <!-- List all existing provider credentials for a user -->

    <h3>Provider Credentials</h3>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Associated User id</th>
          <th>Email</th>
          <th>API Token</th>
          <th>Provider Name</th>
          <th>Type</th>
          <th>Full Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% user_credentials.each do |user_id, credentials| %>
          <% credentials.each do |credential| %>
            <tr>
              <%=
                erb :"./forms/_provider_credentials",
                locals: { user_id: user_id, credential: credential, action: "update" }
              %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <!-- Form to create another provider credential -->

    <h3>New Provider Credential</h3>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Associated User id</th>
          <th>Email</th>
          <th>API Token</th>
          <th>Provider Name</th>
          <th>Type</th>
          <th>Full Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <%=
          erb :"./forms/_provider_credentials",
          locals: { user_id: "", credential: blank_credential_for_create_action_form, action: "create" }
          %>
        </tr>
      </tbody>
    </table>
  </main>
</div>
