<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <!-- List all existing provider credentials for a user -->

    <b>Provider Credentials</b>
    <% user_credentials.each do |user_id, credentials| %>
      <% credentials.each do |credential| %>
        <%=
          erb :"./forms/_provider_credentials",
          locals: { user_id: user_id, credential: credential, action: "update" }
        %>
      <% end %>
    <% end %>

    <!-- Form to create another provider credential -->

    <b>New Provider Credential</b>
    <%=
      erb :"./forms/_provider_credentials",
      locals: { user_id: "", credential: new_credential, action: "create" }
    %>
  </main>
</div>
