<div class="fci-toolbar-container">
  <div class="fci-fastlane-logo"></div>
  <div class="fci-crumbtainer">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <a class="fci-crumb" *ngIf="breadcrumb.url" [routerLink]="breadcrumb.url">{{getDisplayText(breadcrumb)}}</a>
      <span class="fci-crumb" *ngIf="!breadcrumb.url">{{getDisplayText(breadcrumb)}}</span>
      <mat-icon class="fci-crumb-spacer" *ngIf="!last">chevron_right</mat-icon>
    </ng-container>
  </div>
  <div class="fci-right-container">
    <ng-content select="[fci-toolbar-right]"></ng-content>
  </div>
</div>
